.contact-wrapper {
    h3 {
        font-size: 1.5em;
    }

    h4 {
        font-size: 1.2em;
        margin-bottom: 10px;
    }
    
    svg {
        margin-right: 3px;
    }
    
    span {
        margin-bottom: 10px;
    }

    .multi-line {
        margin-bottom: 0px;
    }
}